@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.custom-header {
    background-color: #e4f5e7;
    z-index: 10;
    position: relative;

    .header-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        height: 120px;
        position: relative;
    }

    .logo-container {
        display: flex;
        align-items: center;
        max-width: 550px;
        justify-content: center;

        .logo {
            max-height: 160px;
            width: auto;
            margin-left: 70px;
            padding-bottom: 10px;
        }

        .logo-text {
            margin-left: 12px;
            font-size: 14px;
            color: #396C32;
        }
    }

    .desktop-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 15rem;
    }

    .nav-link {
        position: relative;
        padding-bottom: 6px;
        color: #2f7033;
        text-decoration: none;
        // font-weight: 700;
            font-weight: 600;
    letter-spacing: 2px;
        font-size: 22px;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #1f4a1c;
            bottom: -6px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
            border-radius: 2px;
        }

        &:hover::after,
        &.active::after {
            transform: scaleX(1);
        }

        &:hover,
        &.active {
            color: #1f4a1c;
        }
    }

    .menu-toggle {
        display: none;
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }

    .offcanvas-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #e4f5e7;
        color: #000;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
        display: flex;
        flex-direction: column;

        &.open {
            left: 0;
        }

        .offcanvas-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #a6ccac;
            color: white;
            padding: 16px;

            .close-btn {
                font-size: 24px;
                cursor: pointer;
            }
        }

        .offcanvas-body {
            display: flex;
            flex-direction: column;
            padding: 0;

            .nav-link {
                padding: 12px 16px;

                &:hover {
                    color: black;
                }
            }
        }
    }

    @media (max-width: 1553px) {
        .desktop-nav {
            gap: 12rem;
        }
    }








    @media (max-width: 769px) {
        .logo-container {

            .logo {
                max-height: 120px;
                width: auto;
                margin-left: 0px;
            }
        }

        .header-row {
            justify-content: space-between;
        }

        .desktop-nav {
            display: none;
        }

        .menu-toggle {
            display: block;
        }
    }
}

.nav-link.active {
    color: #1f4a1c !important;

    &::after {
        transform: scaleX(1) !important;
    }
}

@media (max-width: 1340px) {
    .desktop-nav {
        gap: 10rem !important;
    }

    .logo-container .logo {
        max-height: 130px !important;
        width: auto !important;
        margin-left: 0px !important;
    }

    .custom-header .nav-link {
        font-size: 21px !important;
    }



}

    @media (max-width: 1190px) {
        .desktop-nav {
            gap: 9rem !important;
        }

        .logo-container {

            .logo {
                max-height: 110px !important;
                width: auto !important;
                margin-left: 0px !important;
            }
        }

        .custom-header .nav-link {
            font-size: 20px !important;
        }
    }

    
    @media (max-width: 1104px) {
        .desktop-nav {
            gap: 8rem !important;
        }

        .logo-container {

            .logo {
                max-height: 100px !important;
                width: auto !important;
                margin-left: 0px !important;
            }
        }

        .custom-header .nav-link {
            font-size: 19px !important;
        }
    }

       @media (max-width: 1080px) {
        .desktop-nav {
            gap: 4rem !important;
        }

        .logo-container {

            .logo {
                max-height: 110px !important;
                width: auto !important;
                margin-left: 0px !important;
            }
        }

        .custom-header .nav-link {
            // font-size: 16px !important;
        }
    }

          @media (min-width: 1600px) {
   

        .logo-container {

            .logo {
                margin-left: 160px !important;
            }
        }

     
    }